<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huangjiang.xfile">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.huangjiang.XFileApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
            android:name="com.huangjiang.activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.huangjiang.activity.UserCenterActivity"
            android:label="@string/title_activity_user_center" />
        <activity
            android:name="com.huangjiang.activity.HelpActivity"
            android:label="@string/title_activity_help" />
        <activity
            android:name="com.huangjiang.activity.FeedBackActivity"
            android:label="@string/title_activity_feed_back"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.huangjiang.activity.VersionFeedBackActivity"
            android:label="@string/title_activity_version" />
        <activity
            android:name="com.huangjiang.activity.ContactUsActivity"
            android:label="@string/title_activity_contact_us" />
        <activity
            android:name="com.huangjiang.activity.SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name="com.huangjiang.activity.ShareAppActivity"
            android:label="@string/title_activity_share_app" />
        <activity
            android:name="com.huangjiang.activity.ShowImageActivity"
            android:label="@string/title_activity_show_image" />
        <activity
            android:name="com.huangjiang.activity.ConnectActivity"
            android:theme="@style/Theme.Translucent" />
        <activity
            android:name="com.huangjiang.activity.ShareWIFIActivity"
            android:label="@string/title_activity_share_pc" />


        <service android:name="com.huangjiang.service.IMService" />
        <service android:name="com.huangjiang.wfs.WebService" />
        <receiver android:name="com.huangjiang.broadcast.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.huangjiang.broadcast.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="572d43a6e0f55aa86a00053c" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="ec3efe82e5fd58cf5191b3f5692e20d1" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>

    </application>

</manifest>
